* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

button {
  background-color: #ff750c;
  border: 1px #ff750c;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.project {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projectContent {
  background-color: #ff750c;
  border: 1px #ff750c;
  border-radius: 5px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  display: none;
}

section {
  display: flex;
}

@media all and (max-width: 500px) {
  section {
    display: inline-block;
  }
}