@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@600&display=swap");
* {
  font-family: "Lora", serif;
  color: #f1f0ea;
}

.projectContent {
  display: unset;
  background-color: #262229;
  border: 1px #262229;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
}

p {
  display: flex;
}

img {
  margin: 10px;
}

section {
  display: flex;
}

@media all and (max-width: 500px) {
  section {
    display: inline-block;
  }
}
.nav {
  display: flex;
  padding-left: 25%;
  flex-direction: row;
  height: 40px;
  margin-bottom: 30px;
}

.project {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

button {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #262229;
  border: 1px #262229;
  border-radius: 5px;
  min-height: 50px;
  max-width: 100px;
  margin: auto;
}

article {
  background-color: #262229;
  border: 1px #262229;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

h3 {
  display: flex;
  justify-content: center;
}

main {
  max-height: 100vh;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
}

@media all and (max-width: 500px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
}
body {
  background-image: url("C:\\Users\\morri\\development\\nology\\portfolio\\images\\background.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-color: #686369;
}

header {
  display: flex;
  justify-content: center;
  background-color: #262229;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

@media all and (max-width: 500px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.icon {
  width: 20px;
}

.portrait {
  max-width: 200px;
  max-height: 236px;
}

@media all and (max-width: 370px) {
  .portrait {
    display: none;
  }
}