@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
* {
  font-family: "Rhodium Libre", serif;
  color: #f1f0ea;
}

article {
  background-color: #2d232e;
  border: 1px #2d232e;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

h3 {
  display: flex;
  justify-content: center;
}