@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
* {
  font-family: "Rhodium Libre", serif;
  color: #f1f0ea;
}

.project {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

button {
  display: flex;
  justify-content: center;
  background-color: #2d232e;
  border: 1px #2d232e;
  border-radius: 5px;
  min-height: 50px;
  max-width: 100px;
  margin: auto;
}