@use "../abstracts/_abstract.scss" as *;
.project {
  display:grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
} 
button {
  display: flex;
  justify-content: center;
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  min-height: 50px;
  max-width: 100px;
  margin: auto;
  
}