@use "../abstracts/_abstract.scss" as *;

.project {
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projectContent {
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: fit-content;
  width: fit-content;
  display: none;
}

section{
  display: flex;
}

@media all and (max-width: 500px) {
  section { 
    display:inline-block; 
  }
}
