* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.project {
  display: flex;
  justify-content: space-between;
}

.projectContent {
  background-color: #ff750c;
  border: 1px #ff750c;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
}

section {
  display: flex;
}

@media all and (max-width: 500px) {
  section {
    display: inline-block;
  }
}