@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
* {
  font-family: "Rhodium Libre", serif;
  color: #f1f0ea;
}

.projectContent {
  display: unset;
  background-color: #2d232e;
  border: 1px #2d232e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
}

p {
  display: flex;
}

img {
  margin: 10px;
}

section {
  display: flex;
}

@media all and (max-width: 500px) {
  section {
    display: inline-block;
  }
}