@use "../abstracts/_abstract.scss" as *;

.project {
  display:flex;
  justify-content: space-between;
}

.projectContent {
  display: unset;
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
}
p {
  display: flex;
}
img {
  margin:10px;
}
section{
  display: flex;
}

@media all and (max-width: $breakpointmobile) {
  section { 
    display:inline-block; 
  }
}
