* {
  font-family: "Courier New", Courier, monospace;
  color: #2d232e;
}

.project {
  display: flex;
  justify-content: space-between;
}

.projectContent {
  display: unset;
  background-color: #f1f0ea;
  border: 1px #f1f0ea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
}

p {
  display: flex;
}

img {
  margin: 10px;
}

section {
  display: flex;
}

@media all and (max-width: 500px) {
  section {
    display: inline-block;
  }
}