* {
  font-family: "Courier New", Courier, monospace;
  color: #2d232e;
}

header {
  display: flex;
  justify-content: center;
  background-color: #f1f0ea;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}