@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
$color-primary: rgba(241, 240, 234);
$color-secondary: rgba(71, 68, 72);
$color-tertiary: rgba(224, 221, 207);
$breakpointmobile: 500px;
$font: 'Rhodium Libre', serif;

* {
  font-family: 'Rhodium Libre', serif;
  color: rgba(45, 35, 46);

}
// https://coolors.co/474448-2d232e-e0ddcf-534b52-f1f0ea //