* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

main {
  max-height: 100vh;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
}

@media all and (max-width: 500px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
}
body {
  background-image: url("C:\\Users\\morri\\development\\nology\\portfolio\\images\\background.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-color: #5e7ce2;
}