body{
  background-color: rgba(94, 124, 226);
  font-family: 'Rhodium Libre', serif;
  margin-left: 15%;
  display: flex;
  flex-direction: column;

}
.sidebar {
   height: 100%;
   width: 15%;
   background-color: rgba(10, 54, 157);
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
}
@media all and (max-width: 1024px) {
  .sidebar { display: none; }
}


.nav { 
  display: flex;
  padding-left: 10%;
  flex-direction: row;
}

a {
  padding-left: 5%;
  padding-right:5%;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: 'Rhodium Libre', serif;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media all and (max-width: 500px) {
  section { display:inline-block; }
  }

.project {
  background-color: rgba(10, 54, 157);
  border: 1px rgb(10, 54, 157);
  border-radius: 5px;
  height: 40px;
  width: 150px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-left: 10%;
 }

 .project:hover {
  height: fit-content;
  width: 60%;
 }

 article {
  background-color: rgba(10, 54, 157);
  border: 1px rgba(10, 54, 157);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  margin-left: 10%;
  width: 60%;
  
}